
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Implement transactions</h4>
<a href="http://edneypitta.com/certificacao-microsoft-70-487-objetivo-1-3-implement-transactions/">
    http://edneypitta.com/certificacao-microsoft-70-487-objetivo-1-3-implement-transactions/
</a>
